/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    width:100%;
    font-family: sans-serif;
}


/* HEADER  */

/* NAVIGATION */

nav {
    background-color: #2c3e50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    padding: 20px 0px;
}

.titre {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    font-size: 14px;

}

.headerImg {
    background-color: #dc3545;
    background-image: url(../img/avataaars.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 15%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.headerImg h1, .soustitre{
    color:white;
    text-transform: uppercase;
}

.headerImg h1 {
    font-size: 42px;
    padding-top: 12.5rem;
}

.soustitre{
    margin: 30px 0px;
}

/* GENERAL SECTION */

section {
    margin: 50px 0px;
    width: 100%;
    padding: 30px 0px;
}

/* SECTION PORTFOLIO */

section:nth-child(2) h1 {
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    padding: 25px 0px;
}

.contenu {
    width: 50%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: 3;
}

.contenu img {
    width: 100%;
    border-radius: 5px;
}

.img-4, .img-5, .img-6 {
    grid-row: 2;
}

/* SECTION ABOUT */

section:nth-child(3) {
    background-color: #dc3545;
}

section:nth-child(3) h1 {
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    padding: 25px 0px;
    color: white;
}

.contenuAbout {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 2;
    color: white;
    gap: 1rem;
}

.contenuAbout p{
    padding: 15px 0px;
    line-height: 2;
    font-size: 14px;
}

.contenuAbout p:nth-child(2) {
    grid-column: 2;
}


/* SECTION CONTACT */

section:nth-child(4) h1 {
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    padding: 25px 0px;
}


.contenuContact{
    width: 60%;
    margin: auto;
}

.formulaire {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    color: #6c757d;
    margin: 2rem auto;
    font-weight: 100;
    align-items: flex-start;
}

input[type=text], input[type=textarea] {
    border: none;
    border-bottom: 2px solid #e9ecef;
    width: 100%;
}

input[type=textarea]{
    height: 7.5rem;
}

button {
    color:white;
    background-color: #dc3545;
    border: none;
    padding: 10px 14px;
    border-radius: 3px;
}

/* FOOTER */

footer {
    background-color: #2c3e50;
}

.contenuFtr{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    color:white;
    gap: 1rem;
    padding-top: 2rem;
    margin: 0 auto;
}

.contenuFtr p {
    margin: 2rem auto;    
}

.contenuFtr h4 {
    text-transform: uppercase;
    
}

.location, .web, .freelance {
    height: 10rem;
    text-align: center;
    font-size: 13px;
}

.location {
    grid-column: 1;
}

.web {
    grid-column: 2;
}

.web i {  
    text-align: center;
    width:15px;
    height:15px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 50%;
}

.freelance {
    grid-column: 3;
}

.freelance a{
    color: #1aa06e;
    text-decoration: none;
}

.copyright {
    background-color: #1a252f;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 12px;
    padding: 2rem 0;
}
